* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 26, 26);
}

h2 {
    font-family: 'Dosis';
    color: white;
    font-size: 35px;
    font-family: 'Dosis', sans-serif;
}

h1 {
    color: white;
    font-family: 'Harlow Solid';
    font-size: 80px;
    text-shadow: 5px 2px 5px #d86895;
}

p {
    font-family: 'Dosis';
    color: white;
    font-size: 20px;
    margin-top: 3%;
}

a {
    text-decoration: none;
    color: white;
}
h4{
    font-family: 'Dosis';
    font-size: 20px;
 display:flex;
 margin-top: 5%;
 justify-content:center;
}

i{
font-size: 75px;
display: flex;
justify-content: center;
margin-top: 6%;

    

}
a:hover {
    color: #ffbde3;
}

header {
    position: fixed;
    width: 100vw;
}

nav {
    background-color: #e66465;
    font-family: 'Dosis';
    font-size: 23px;
    justify-content: flex-end;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    text-shadow: 5px 2px 5px black;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120vh;
}

.imagen {
    display: flex;
    width: 90vh;
}

.botoncontacto:hover {
    animation-direction: normal;
    box-shadow: white;
    background-color: black;
    font-weight: normal;
    text-decoration: none;
    color: #ffffff;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    opacity: 0.8;
}

.botoncontacto {
    text-decoration: none;
    color: #f4f9f9;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background: linear-gradient(#e66465, #666666);
    width: 10vw;
    text-align: center;
}

.lohago {
    display: block;
    width: 230px;
    padding: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Dosis';
    margin-top: 9%;
    margin-bottom: 8%;
    font-size: 21px;
}

li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    margin-right: 2%;
    margin-top: 0%;
}

ul {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10%;
}

#skills {
    background-color: rgb(49, 48, 48);
    width: auto;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.titulo {
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 55px;
    text-shadow: 5px 2px 2px rgb(0, 0, 0);
    color: #ffffff;
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding-top: 10%;
}

.introducción {
    display: flex;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    font-size: 19px;
}

#skills {
    display: block;
    height: 100vh;
}

.bloque1 {
    display: flex;
    width: auto;
    justify-content: center;
}

.bloque2 {
    display: flex;
    width: auto;
    height: 70vh;
    justify-content: center;
    background-color: rgb(49, 48, 48);
}

.cards:hover {
    background-color: white;
    animation-direction: normal;
    background-color: rgb(255, 255, 255);
    border: 5px rgb(255, 129, 150);
    box-shadow: -10px -10px 15px rgb(255, 114, 114), 10px 10px 20px rgb(255, 201, 232);
    transition: ease 1s;
    transform: rotate(1turn);
}

.cards {
    background-color: white;
    width: 260px;
    height: 220px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    border: solid black 2px; 
}

.comillas {
    background-color: rgb(97, 97, 97);
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.imagen2 {
    width: 80px;
    height: 80px;
    border-image: solid black 70px;
    background-color: black
}

.textodecomillas {
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: 21px;
    text-shadow: 4px 3px 3px black;
}